.contener{
    border: 2px solid #000;
    width: 200px;
    height: 200px;
    text-align:start;
    padding: 15px;
}
#Firstnumber{
    margin-top: 10px;
    font-size: 1rem;
    width: 73px;
    border: 1.5px solid #000;
    text-align: center;
    border-radius: 5px;
}
#Secondnumber{
    margin-top: 10px;
    font-size: 1rem;
    width: 70px;
    border: 1.5px solid #000;
    text-align: center;
    border-radius: 5px;
}
button{
    margin-top: 15px;
    border: 1.5px solid #000;
    border-radius: 5px;
    font-size: 1rem;
    font-family: sans-serif;
}
button:hover{
    background-color: red;
    color: white;
}
#Result{
    font-size: 1.2rem;
    margin-top: 15px;
}
span{
    margin-top: 15px;
}